

#navbar-left {
    top: 5%;
    left:  1%;
  }
#product_file{
  display: none;

}
#navbar-right {
    right: 1%;
    top: 5%;
  }
  .image-upload>input {
    display: none;
  }
.card{
    width: 200px;
    right: 2%;
    left: 2%;
}
input { margin-bottom: 10px; }

  @media only screen and (max-width: 500px) {
    .card{     
         width: 96%;
         right: 2%;
         left: 2%;
     }


     #navbar-right {
         right: 1%;
         top: 5%;
       }

    #navbar-left {
        top: 5%;
        left:  1%;
      }
    
  }


  